.body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hr {
    width: 40%;
}

input, button {
    font-size: 15px;
}

.label {
    font-size: 20px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

th {
    background-color: rgb(106, 165, 107);
    padding: 4px;
}

tbody tr:nth-child(even) {
    background-color: rgb(193, 230, 182);
  }
  
  tbody tr:nth-child(odd) {
    background-color: rgb(125, 218, 153);
  }

td, th {
    text-align: center;
    padding: 2px;
    border: 2px solid black;
    min-width:45px;
    margin: 0px;
}

